<ion-header id="header">
  <ion-toolbar style="--background: #00A9E0; --color: #FFFFFF">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'home'"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-right: 52px">Comprar paquetes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false" fullscreen="false">


    <form id="form" target="Fiframe">
    </form>
 
    <iframe name="Fiframe" src="" width="100%" height="100%">
    </iframe>
  
 
</ion-content>
